.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Nothing You Could Do', cursive;
}
